
/* mis en place des police */
@font-face {
    font-family: "Lato-Bold";
   src: local("Lato-Bold");
   font-family: "Lato-Regular";
   src: local("Lato-Regular");

}

#menu1 {
     font-family: "Lato-Bold";
}

#menu3 h1 {
    font-family: "Lato-Regular"
}
 /* fin css des police de caracteres */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    border: none;
    
}
#menu1 > h1 {
    font-size: 13px;
    margin-left: 20rem;
    

}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 3rem;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  #menu1 {
      display: flex;
      flex-direction: row;
      padding-right:  5rem;
      margin-right: 10rem;
      
  }

  #macarte {
      margin-left: 25rem;
  }
  #hr1 {
    border: 1px solid grey;
    margin-top: 2rem;
  }
  #LineMenu li a {
      text-decoration: none;
      color: grey;
     
  }
  /* selecteur pour image */
#fox {
    float: left;
}
#LineMenu li a  :hover {
color: #159880;
}


/*partie2 */
#menu2 {
	position: absolute;
	width: 1920px;
	height: 4229px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
/*	--web-view-name: 06-Prices; 
	--web-view-id: ID06_Prices;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;*/
}

#MenuBar {
 	position: absolute; 
	width: 641px;
  /*  height: 69.689px; */
	left: 390px;
	top: 0px;
	overflow: visible;
}
#SectionsMenuBar {
	
	width: 641px;
	height: 69.689px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#LogoCompany {
	position: absolute;
	width: 119px;
	height: 39.689px;
	
	top: 30px;
    overflow: visible;
    right: 100%;
    margin-right: 5rem;
}
#Menu {
	width: 481px;
	height: 67px;
	left: 160px;
	top: 0px;
    overflow: visible;
    margin-right: 5rem;
    
}

ul {
    list-style-type: none; /*Ce n'est pas nécessaire c'est la valeur par défaut*/
    position: absolute;  
    left: 15px;
    top: 44px;
    overflow: visible;
  	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	color: rgba(91,87,102,1);
	word-spacing: 2rem;
	font-family: Nunito-Regular;
    font-style: normal;
    font-weight: normal;
	font-size: 16px;
}

ul li {
  display: inline-block;
}

#ColorServices {
    font-size: 17px;
	color: rgba(85,77,137,1);
}

#hr2 {
    border: 1px solid grey;
    margin-top: 7rem;
  }

  /* partie 3 */

  #menu3 {
     
      width: 100%;
      
      height: 200rem;
      overflow: visible;
  }

  #menu3 > h1 {
  
   margin-top: 2rem;
   margin-left: 12rem;
  }